{% extends 'main/layout.html' %}
{% load static %}

{% block head_part %}   
    <title>Main</title>
{% endblock %}

{% block content %}
    <h1>
        Щербина Антон Петрович
    </h1>
    <h2>
        Преподаватель STEM, Full Stack разработчик
    </h2>
    <h3>
        150 000 руб.
    </h3>
    <article>
        <div class="cv">
            <img src={% static "main/img/photo.jpg" %}>
        <p>
            Контакты:
            +7 (927) 962-77-85
            humandmc@gmail.com
            <a href="https://t.me/thedisciple"><b>t.me/thedisciple</b></a>
        </p>
        <p>
            Апрель 2021 — по настоящее время
            Kodland
            Москва, kodland.org
        </p>
        <p>                                                            
            Преподаватель, методист, менеджер вводных мастер-классов, преподаватель в англоязычном сегменте
            Преподавание программирования (Python, Unity, Scratch, HTML, CSS, Flask, чат-боты) дистанционно групповое (~10 чел.) и индивидуально. Перевод методических материалов на английский, преподавание группам из Великобритании и Ирландии. Проведение вводных МК(продажи).
        </p>
        <p>
            Ноябрь 2019 — по Март 2020
            Школа Великих Открытий
            Жуковка (Московская область), montessori-life.ru

            Преподаватель STEM
            Проектная работа с детьми 10-16лет. Электроника, компьютерная грамотность, проект самодельного ветрогенератора для школы.
            Ноябрь 2019 — по настоящее время
        </p>
        <p>
            Natural School
            Одинцово, natural-school.org

            Преподаватель (электроника, английский язык)
            Преподавание электроники по собственной методике. Английский язык по Голицынскому. Активности с детьми в лесу: строительство землянки, создание пиролизного аппарата для перегонки пластикового мусора.
            Апрель 2020 — январь 2021
        </p>
        <p>
            Семейный клуб «Мозаика»
            Ялта, www.mosaica-kids.ru

            Тьютор, Педагог STEM
            Преподаватель по шахматам, проектная работа с детьми в мастерской (дерево, глина, электроника)
        </p>
        <p>
            Февраль 2018 — апрель 2020
            MBA Montessori Preschool
            Московская область, ibmontessori.ru

            Педагог STEM
            Техническое творчество с детьми, работа в мастерской и на открытом воздухе. Лесные STEM-активности. Adventure playground.
        </p>
        <p>
            Сентябрь 2019 — октябрь 2019
            English Royal Academy
            Лапино, era-lapino.ru

            Педагог дополнительного образования
            STEM для школьников, занятия на английском языке.
        </p>
        <p>
            Сентябрь 2017 — июль 2018
            Центр инновационного творчества «Изобретариум»
            Московская область, izobretarium.ru

            Преподаватель
            Инженерное творчество, Электроника, Arduino; Группы 7—10 детей.
        </p>
        <p>
            Август 2016 — январь 2018
            Кулибин ПРО (Корпорация роботов, Montessori School of Moscow, Московский планетарий)
            Москва, kulibinpro.ru

            Преподаватель
            Запуск и развитие проекта мастерских для инженерного творчества. Преподавание технических дисциплин, и проведение мастер-классов на английском языке. Разработал идеи для мастер-классов. 
        </p>
        <p>
            Июнь 2015 — июль 2016
            ООО «ВНИИКП-Маш»
            Москва, vniikpmash.ru
            Инженер

            Снабжение и комплектация производства оборудования для кабельной промышленности, от получения тех. задания до сдачи в эксплуатацию. Работа с иностранными поставщиками. Организация работы персонала.
            Наладил более выгодные отношения с поставщикамиб оптимизировал часть производственных процессов.
        </p>
        <p>
            Август 2014 — июнь 2015
            ООО "Электромеханика"
            Менеджер по продажам электрооборудования

            Основное направление "Электродвигатели" (бренды — IEK, АВВ, Schneider Electric).
            За 3 месяца начал "с нуля" продажи по новому направлению, нашел оптовых клиентов, увеличил розничные продажи "хитрой" настройкой Яндекс.Директ, вследствие чего компания получила эксклюзивную дистрибьюторскую скидку по электродвигателям IEK Drive.
        </p>
        <p>
            Сентябрь 2011 — март 2014
            КИЕВЭНЕРГО
            Мастер электротехнического участка, электрик
            Ремонт и обслуживание электрооборудования (электродвигатели насосов, электрощитовое обурудование, КИПиА, ЧПУ). Обязанности электрика, слесаря, сантехника, инженера.
            В августе 2013 повысили до мастера электроучастка.
            Организовывал работу электротехнического персонала (более 10 человек, более 100 обьектов по Киеву). Оптимизировал работу электроучастка составлением фотобазы оборудования.
        </p>
        <p>
            Обо мне
            Женат, есть дети. Большой опыт работы со студентами разных возрастов. Опыт работы электриком, чтение электрических схем и машиностроительных чертежей, металлообработка. Продвинутый пользователь ПК и Internet — MS Office, Visio, AutoCAD, MATLAB/Simulink, Яндекс.Директ, SMM. Навыки программирования — C++, С# (Unity), Pascal, Python (Django, Flask, API), JavaScript, HTML, CSS, SQL. Техническое обслуживание ПК, складские программы, 1C, БД, хорошие математики и физики, умение мыслить логически, хорошие коммуникативные навыки, аниматор, преподаватель, публичные выступления. Уровень английского — могу осуществлять синхронный перевод.
            Без вредных привычек.
            Хобби: волонтерская работа с детьми, турпоходы, дизайн, создавать электронные устройства и др. вещи своими руками (DIY), 3-D печать.
            Заинтересован в стабильной интересной креативной высокооплачиваемой работе в сфере образования.
        </p>
        <p>
            Высшее образование
            2012
            Национальный технический университет Украины "Киевский политехнический институт", Киев
            Электроэнерготехники и автоматики, электромеханические системы автоматизации и электропривод
        </p>
        <p>
            Знание языков
            Украинский — Родной
            Русский — C2 — В совершенстве
            Английский — C1 — Продвинутый        
        
        </p>
        </div>
{% endblock %}