{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_part %}
    {% endblock %}
    <link rel="stylesheet" href={% static "main/css/bootstrap.min.css" %}>
    <link rel="stylesheet" href={% static "main/css/main.css" %}>
</head>

<body>
    <header>
        <div class="container">
            <div class="headerInner">
                <a class="menu" href="/">
                    <div class="logo">
                        <img class="logo" src={% static "main/img/CA-alabuga-logo-white.png" %} alt="logo">
                        <p>alabuga</p>
                    </div>
                </a>
                <nav>
                    <ul>
                        <li>
                            <a class="menu" href={% url "home_page" %}>
                                <img class="icon" width="32" src={% static "main/img/telegram.svg" %} alt="telegram">
                            CV
                            </a>
                        </li>
                        <li>
                            <a class="menu" href={% url "hierarchy_page" %}>
                                <img class="icon" width="32" src={% static "main/img/sitemap-solid.svg" %} alt="hierarchy">
                                HIERARCHY
                            </a>
                        </li>
                        <li>
                            <a class="menu" href={% url "log_in_page" %}>
                                <img class="icon" width="32" src={% static "main/img/door-closed-solid.svg" %} alt="door">
                                LOG IN
                            </a>
                        </li>
                    </ul>         
                </nav>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="mainInner">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
</body>

</html>